<p>Start editing to see some magic happen :)</p>

<!-- this.activatedRoute.queryParams.subscribe((params: Params) => {
  if (params['accountCode']) {
     this.accountCode = params['accountCode'];
     this.getAppWhiteLabel();
  }
  if (params['passToken']) {
     this.resetPasswordModel.passToken = params['passToken'];
  }
  if (params['source']) {
     this.source = params['source'];
  }
  if (params['lang']) {
     this.language = params['lang'];
  }
}); -->

<!-- 
in constractot : 
private activatedRoute: ActivatedRoute, -->
